---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '../components/Hero.astro';
import Progress from '../components/Progress.astro';
---

<Layout title="Welcome to Astro.">
	<section id="hero">
		<Hero />
	</section>
	<section id="skills">
		<div class="skills-list">
			<Progress title="Prokrastinieren" progress="70" color='red' />
			<Progress title="Bingewatchen" progress="90" color='blue'/>
			<Progress title="Chillen" progress="40" color='green'/>
			<Progress title="Aufschieben" progress="56" color='fuchsia'/>
		</div>
	</section>
	<section id="timeline"></section>
	<section id="projects"></section>
</Layout>

<style>
	.skills-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 2rem;
	}
</style>