<ul>
    <li class="timeline-item">
        <div class="timeline-dot"></div>
        <span class="timeline-date">1986</span>
        <div class="timeline-content">
            <h3>Geburt</h3>
            <p>in Kasachstan</p>
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-dot"></div>
        <span class="timeline-date">2000</span>
        <div class="timeline-content">
            <h3>nach DE gekommen</h3>
            <p>lange Fahrt</p>
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-dot"></div>
        <span class="timeline-date">2008</span>
        <div class="timeline-content">
            <h3>Abitur</h3>
            <p>harte Zeit</p>
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-dot"></div>
        <span class="timeline-date">2023</span>
        <div class="timeline-content">
            <h3>LuG Umschulung zum FiSi</h3>
            <p>easy-peasy</p>
        </div>
    </li>
</ul>